In [37]:
import gc
import os
import json

# from cryptography.fernet import Fernet
# import hashlib
import pandas as pd
import pyarrow.parquet as pq
import sqlite3
from sqlite3 import Error

# from CFG import Config
# from security_config import SecurityConfig

In [38]:
config = {
#     'data_dir': 'C:\\Users\\Vitthal\\Desktop\\projects\\yelp_data',

#     'data_db_storage_dir': 'C:\\Users\\Vitthal\\Desktop\\projects\\yelp_data\\db_storage',
#     'data_db_name': 'yelp_data',
#     'data_db_access_uname': 'db_admin_1', 
#     'data_db_access_pwd': 'pass1234',
#     'create_db_if_not_exists': True, # for data_db
    
    'data_dir': '/kaggle/input/yelp-compressed-dataset', 
    'data_db_storage_dir': '/kaggle/input/',
    'data_db_name': 'yelp_data',
    'data_db_access_uname': 'db_admin_1', 
    'data_db_access_pwd': 'pass1234',
    'create_db_if_not_exists': True, # for data_db
}

In [39]:

class DatabaseDDLManager:
    '''
        Database Data Definition Language (DDL) Manager
            Create, Drop, Alter, Truncate, Rename, Comment, etc.
    '''
    def __init__(self, db_name):
        self.db_name = db_name
        self.conn = None # trying to use context manager for connection
        # self.conn = self.open_connection()

    def open_connection(self):
        """
        Opens a connection to the database.

        Args:
            db_name (str): The name of the database to connect to.
                Or None if failed.

        Returns:
            None
        """
        try:
            self.conn = sqlite3.connect(self.db_name)
            return self.conn
        except Error as e:
            print(e)
        
        return None

    def close_connection(self):
        """
        Closes the connection to the database.
        """
        self.conn.close()
    
    def get_table_names(self):
        '''
        Retrieves the names of all tables in the database.

        Returns:
            list: A list of table names.
        '''
        table_names = []
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
                tables = cursor.fetchall()

                table_names = [table[0] for table in tables]
        except Error as e:
            print(e)
            
        return table_names

    
    def create_table(self, create_table_sql, from_parquet=False, \
                     parquet_file_path=None, table_name=None, exclude_columns=None, 
                     date_cols=None,
                     dtype_conversion_map=None, overwrite=False, verbose=False):
        """
        Creates a table in the database using the provided SQL statement.

        Args:
            create_table_sql (str): The SQL statement to create the table.
            Example:
                create_table_sql = 
                    CREATE TABLE IF NOT EXISTS employees (
                        id integer PRIMARY KEY,
                        name text NOT NULL,
                        salary real,
                        department_id integer,
                        FOREIGN KEY (department_id) REFERENCES departments (id)
                    );
                    
        Raises:
            Error: If there is an error executing the SQL statement.

        Returns:
            Boolean: True if the table was created successfully, False otherwise.
        """
        if table_name in self.get_table_names() and not overwrite:
            print(f"Table {table_name} already exists in the database")
            print("Either pass overwrite=True or use a different table name \
                  to create a new table. Or check your input.")
            return False

        if from_parquet:
            # Read the Parquet file into a DataFrame
            if verbose: print("Reading Parquet file into DataFrame")
            df = pd.read_parquet(parquet_file_path)
            
            # --------------------

            if verbose: print("Sanitizing DataFrame")
            if exclude_columns is not None:
                df.drop(columns=exclude_columns, inplace=True)
                
            if dtype_conversion_map is not None: 
                for col, dtype in dtype_conversion_map.items():
                    df[col] = df[col].astype(dtype)
            
            if date_cols is not None:
                for col in date_cols:
                    df[col] = pd.to_datetime(df[col], format='%Y-%m-%d', 
                                             errors='coerce')
            
            # --------------------
            
            if verbose: print("Creating database table...")
            with sqlite3.connect(self.db_name) as conn:
                # Create the SQL table from the DataFrame
                df.to_sql(table_name, conn, if_exists='replace', index=False)
            
            if verbose: print(f"Table {table_name} created successfully!")
            
            del df
            gc.collect()
            return True
        else:
            try:
                with sqlite3.connect(self.db_name) as conn:
                    c = conn.cursor()
                    c.execute(create_table_sql)
                print("Table created successfully")
                return True
            except Error as e:
                print(e)
            
        return False
    
    def drop_table(self, table_name):
        """
        Drops a table from the database.

        Args:
            table_name (str): The name of the table to drop.

        Raises:
            Error: If there is an error executing the SQL statement.

        Returns:
            Boolean: True if the table was dropped successfully, False otherwise.
        """
        try:
            c = self.conn.cursor()
            c.execute(f"DROP TABLE IF EXISTS {table_name}")
            return True
        except Error as e:
            print(e)
        
        return False

    def alter_table(self, table_name, alter_table_sql):
        """
        Alters a table in the database using the provided SQL statement.

        Args:
            table_name (str): The name of the table to alter.
            alter_table_sql (str): The SQL statement to alter the table.
            Example:
                alter_table_sql = 
                    ALTER TABLE employees
                    ADD COLUMN email text;
                    
        Raises:
            Error: If there is an error executing the SQL statement.

        Returns:
            Boolean: True if the table was altered successfully, False otherwise.
        """
        try:
            c = self.conn.cursor()
            c.execute(alter_table_sql)
            return True
        except Error as e:
            print(e)
        
        return False

    def truncate_table(self, table_name):
        """
        Truncates a table in the database.

        Args:
            table_name (str): The name of the table to truncate.

        Raises:
            Error: If there is an error executing the SQL statement.

        Returns:
            Boolean: True if the table was truncated successfully, False otherwise.
        """
        try:
            c = self.conn.cursor()
            c.execute(f"DELETE FROM {table_name}")
            return True
        except Error as e:
            print(e)
        
        return False

    def rename_table(self, table_name, new_table_name):
        """
        Renames a table in the database.

        Args:
            table_name (str): The name of the table to rename.
            new_table_name (str): The new name for the table.

        Raises:
            Error: If there is an error executing the SQL statement.

        Returns:
            Boolean: True if the table was renamed successfully, False otherwise.
        """
        try:
            c = self.conn.cursor()
            c.execute(f"ALTER TABLE {table_name} RENAME TO {new_table_name}")
            return True
        except Error as e:
            print(e)
        
        return False

    def comment_table(self, table_name, comment):
        """
        Comments a table in the database.

        Args:
            table_name (str): The name of the table to comment.
            comment (str): The comment for the table.

        Raises:
            Error: If there is an error executing the SQL statement.

        Returns:
            Boolean: True if the table was commented successfully, False otherwise.
        """
        try:
            c = self.conn.cursor()
            c.execute(f"COMMENT ON TABLE {table_name} IS {comment}")
            return True
        except Error as e:
            print(e)
        
        return False

    def sanity_check(self, table_name, export_to_file=False, file_name=None):
        """
        NOTE: WILL LATER MOVE THIS FUNCTION TO THE TESTING MODULE.
        NOT DEVELOPING ANY FURTHER AS OF NOW.

        Performs a sanity check on a table in the database.

        Args:
            table_name (str): The name of the table to perform the sanity check on.
            export_to_file (bool): Whether to export the sanity check results to a file. Default is False.
            file_name (str): The name of the file to export the sanity check results to. Only applicable if export_to_file is True.

        Returns:
            None
        """
        # check if primaries key exists
        def __check_primary_key_exists(self, table_name):
            """
            Checks if the primary key exists for a table in the database.

            Args:
                table_name (str): The name of the table to check.

            Returns:
                Boolean: True if the primary key exists, False otherwise.
            """
            try:
                c = self.conn.cursor()
                c.execute(f"PRAGMA table_info({table_name})")
                columns = c.fetchall()
                for column in columns:
                    if column[5] == 1:  # Check if the column is part of the primary key
                        return True
                return False
            except Error as e:
                print(e)
                return False
        
        __check_primary_key_exists(self, table_name)

        # check if primary key columns are constrained to be non-null
        # check if primary key columns are constrained to be unique

        # check if foreign key columns exist in the referenced table
        # check if foreign key columns are constrained to be non-null
        # check if foreign key columns are constrained to be unique
        # check if foreign key columns are constrained to be primary keys

        # check if unique key columns are constrained to be non-null

        # check if check constraints are valid
        # check if default values are valid
        # check if column data types are valid

        # check if table is commented
        # check if column names are commented
        # check if column names follow a naming conventio n with regex

        if export_to_file:
            # Export the sanity check results to a file
            if file_name is None:
                file_name = f"{table_name}_sanity_check_results.txt"
            with open(file_name, "w") as file:
                file.write("Sanity Check Results:\n")
                file.write(f"Table Name: {table_name}\n")
                # Write the sanity check results to the file

In [9]:
# config_ref = Config()
# config = config_ref.get_config()

In [40]:

ddl_man = DatabaseDDLManager(config['data_db_name'])

In [ ]:
# business_table_create_query = 'CREATE TABLE IF NOT EXISTS business ( \
#         business_id integer PRIMARY KEY, \
#         name TEXT NOT NULL, \
#         address TEXT NOT NULL, \
#         city TEXT NOT NULL, \
#         state TEXT NOT NULL, \
#         postal_code TEXT NOT NULL, \
#         latitude REAL NOT NULL, \
#         longitude REAL NOT NULL, \
#         stars REAL, \
#         review_count INTEGER, \
#         is_open INTEGER, \
#         attributes TEXT, \
#         categories TEXT, \
#         hours TEXT \
#         );'

table_name = 'business'
parquet_file_path = os.path.join(config['data_dir'], 'business.parquet')
dtype_conversion_map = {
        'business_id': 'str',
        'name': 'str',
        'address': 'str',
        'city': 'str',
        'state': 'str',
        'postal_code': 'str',
        'latitude': 'float32',
        'longitude': 'float32',
        'stars': 'uint8',
        'review_count': 'uint32',
        'is_open': 'uint8',
        'categories': 'str',
        'hours': 'str'
}
ddl_man.create_table(create_table_sql='', from_parquet=True, \
                     parquet_file_path=parquet_file_path, table_name=table_name, 
                     exclude_columns=['attributes'], 
                     dtype_conversion_map=dtype_conversion_map, 
                     overwrite=False, 
                     verbose=True,)

print("Table names: ", ddl_man.get_table_names())

In [ ]:
 
table_name = 'business'
parquet_file_path = os.path.join(config['data_dir'], 'business.parquet')
dtype_conversion_map = {
        'business_id': 'str',
        'name': 'str',
        'address': 'str',
        'city': 'str',
        'state': 'str',
        'postal_code': 'str',
        'latitude': 'float32',
        'longitude': 'float32',
        'stars': 'uint8',
        'review_count': 'uint32',
        'is_open': 'uint8',
        'categories': 'str',
        'hours': 'str'
}
ddl_man.create_table(create_table_sql='', from_parquet=True, \
                     parquet_file_path=parquet_file_path, table_name=table_name, 
                     exclude_columns=['attributes'], 
                     dtype_conversion_map=dtype_conversion_map, 
                     overwrite=False, 
                     verbose=True,)

print("Table names: ", ddl_man.get_table_names())

In [ ]:
# business_df = pq.read_table(os.path.join(config['data_dir'], 'business.parquet')).to_pandas()

# checkin_df = pq.read_table(os.path.join(config['data_dir'], 'checkin.parquet')).to_pandas()

table_name = 'checkin'
parquet_file_path = os.path.join(config['data_dir'], 'checkin.parquet')

dtype_conversion_map = {'business_id': 'str'}
date_cols = ['date']

ddl_man.create_table(create_table_sql='', from_parquet=True, \
                     parquet_file_path=parquet_file_path, table_name=table_name, 
                     exclude_columns=[],
                     date_cols=date_cols, 
                     dtype_conversion_map=dtype_conversion_map, 
                     overwrite=False, 
                     verbose=True) 

print("Table names: ", ddl_man.get_table_names())

In [ ]:
# business_df = pq.read_table(os.path.join(config['data_dir'], 'business.parquet')).to_pandas()

# checkin_df = pq.read_table(os.path.join(config['data_dir'], 'checkin.parquet')).to_pandas()

table_name = 'tip'
parquet_file_path = os.path.join(config['data_dir'], 'tip.parquet')

dtype_conversion_map = {'user_id': 'str', 
                        'business_id': 'str', 
                        'text': 'str', 
                        'compliment_count': 'int'
                        }
date_cols = ['date']

ddl_man.create_table(create_table_sql='', from_parquet=True, \
                     parquet_file_path=parquet_file_path, table_name=table_name, 
                     exclude_columns=[],
                     date_cols=date_cols, 
                     dtype_conversion_map=dtype_conversion_map, 
                     overwrite=False, 
                     verbose=True) 

print("Table names: ", ddl_man.get_table_names())

In [ ]:
# user_df_cols = ['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
#        'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
#        'compliment_more', 'compliment_profile', 'compliment_cute',
#        'compliment_list', 'compliment_note', 'compliment_plain',
#        'compliment_cool', 'compliment_funny', 'compliment_writer',
#        'compliment_photos']

table_name = 'user'
parquet_file_path = os.path.join(config['data_dir'], 'user.parquet')

dtype_conversion_map = {'user_id': 'str', 
                        'name': 'str', 
                        }
date_cols = ['yelping_since']
exclude_columns = ['elite', 'friends']

ddl_man.create_table(create_table_sql='', from_parquet=True, \
                     parquet_file_path=parquet_file_path, table_name=table_name, 
                     exclude_columns=exclude_columns,
                     date_cols=date_cols, 
                     dtype_conversion_map=dtype_conversion_map, 
                     overwrite=False, 
                     verbose=True) 

print("Table names: ", ddl_man.get_table_names())

In [ ]:

table_name = 'review'
parquet_file_path = os.path.join(config['data_dir'], 'review.parquet')

dtype_conversion_map = {'review_id': 'str', 
                        'user_id': 'str', 
                        'business_id': 'str', 
                        'text': 'str', 
                        'date': 'str', 
                        }
date_cols = ['date']
exclude_columns = []

ddl_man.create_table(create_table_sql='', from_parquet=True, \
                     parquet_file_path=parquet_file_path, table_name=table_name, 
                     exclude_columns=exclude_columns,
                     date_cols=date_cols, 
                     dtype_conversion_map=dtype_conversion_map, 
                     overwrite=False, 
                     verbose=True) 

print("Table names: ", ddl_man.get_table_names())

In [41]:
class DatabaseDMLManager:
    '''
    A class that manages a SQLite database connection and provides methods for interacting with the database.
    
    Attributes:
        db_name (str): The name of the database.
        conn (sqlite3.Connection): The SQLite database connection.
    '''
    def __init__(self, db_name):
        self.db_name = db_name
        # self.conn = self.open_connection()

    def open_connection(self):
        '''
        Opens a connection to the database.
        
        Returns:
            sqlite3.Connection: The SQLite database connection; 
                Or None if failed.
        '''
        try:
            self.conn = sqlite3.connect(self.db_name)
            return self.conn
        except Error as e:
            print(e)
        
        return None
    
    def close_connection(self):
        '''
        Closes the database connection.
        '''
        self.conn.close()
    
    def get_table_names(self):
        '''
        Retrieves the names of all tables in the database.

        Returns:
            list: A list of table names.
        '''
        table_names = []
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
                tables = cursor.fetchall()

                table_names = [table[0] for table in tables]
        except Error as e:
            print(e)
            
        return table_names
    
    def execute_query(self, query_str):
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                cursor.execute(query_str)
                result = cursor.fetchall()
                column_names = [desc[0] for desc in cursor.description]
                return [column_names] + list(result)
        except Error as e:
            print("Error Message: ", e)
        
        return None
    
    def get_table_columns(self, table_name):
        '''
        Retrieves the column names of a specific table.
        
        Args:
            table_name (str): The name of the table.
        
        Returns:
            list: A list of column names.
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                cursor.execute("PRAGMA table_info({})".format(table_name))
                columns = [column[1] for column in cursor.fetchall()]
                return columns
        except Error as e:
            print(e)
            
        return None
    
    def get_table_number_of_rows(self, table_name):
        '''
        Retrieves the number of rows in a specific table.
        
        Args:
            table_name (str): The name of the table.
        
        Returns:
            int: The number of rows in the table.
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                cursor.execute(f"SELECT COUNT(*) FROM {table_name}")
                count = cursor.fetchone()
                return count[0]
        except Error as e:
            print(e)
        
        return None
    
    def fetch_column_from_table(self, table_name, column_name, sample_size=None):
        '''
        Retrieves a specific column from a table.
        
        Args:
            table_name (str): The name of the table.
            column_name (str): The name of the column.
            sample_size (int, optional): The number of rows to retrieve. Defaults to None.
        
        Returns:
            list: A list of values from the specified column.
        '''
        assert sample_size is None or (isinstance(sample_size, int) and sample_size > 0), \
                    "Sample size must be a positive integer."
        
        assert table_name in ['business', 'checkin', 'review', 'tip', 'user'], \
                    "Invalid table name."
        
        assert column_name in self.get_table_columns(table_name), \
                "Invalid column name. {} does not exist in the table {}.".\
                format(column_name, table_name)
        
        result = None
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                if sample_size:
                    cursor.execute(f"SELECT {column_name} FROM {table_name} \
                            LIMIT {sample_size}")
                    result = cursor.fetchmany(sample_size)
                else:
                    cursor.execute(f"SELECT {column_name} FROM {table_name}")
                    result = cursor.fetchall()
        except Error as e:
            print(e)
        
        return result

    def read_db_table(self, table_name, sample_size=None, verbose=False):
        '''
        Retrieves all/requested number of rows from a specific table.
        
        Args:
            table_name (str): The name of the table.
            sample_size (int, optional): The number of rows to retrieve. Defaults to None.
            verbose (bool, optional): Whether to print the retrieved rows. Defaults to False.
        
        Returns:
            list: A list of rows from the specified table.
        '''
        assert sample_size is None or (isinstance(sample_size, int) and sample_size > 0), \
                    "Sample size must be a positive integer."   

        assert table_name in ['business', 'checkin', 'review', 'tip', 'user'], \
                    "Invalid table name."
        
        result = None
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                if sample_size:
                    cursor.execute(f"SELECT * FROM {table_name} LIMIT \
                            {sample_size}".format(table_name))
                    result = cursor.fetchmany(sample_size)
                else:
                    cursor.execute(f"SELECT * FROM {table_name}".format(table_name))
                    result = cursor.fetchall()
                
                if sample_size and verbose:
                    for row in result:
                        print(row)
        except Error as e:
            print(e)
            
        return result
    
    def insert_data(self, table_name, data_dict):
        '''
        Inserts data into the database.
        Leaving to SQL to generate errors for invalid values like that 
            not matching the data type or primary key or null values in non-null 
            columns or duplicate values in unique columns.
        
        Args:
            table_name (str): The name of the table.
            data_dict (dict): The data to insert.

        Returns:
            Boolean: True if the data was inserted successfully, False otherwise.        
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()
                columns = ', '.join(data_dict.keys())

                # Check if all columns in data_dict are valid columns in the table
                valid_columns = self.get_table_columns(table_name)
                invalid_columns = [column for column in data_dict.keys() \
                                   if column not in valid_columns]
                if invalid_columns:
                    print(f"Invalid columns: {', '.join(invalid_columns)}")
                    return False

                # Create a string of placeholders for the values to insert
                # in order to prevent SQL injection attacks
                placeholders = ', '.join(['?' for _ in range(len(data_dict))])
                values = tuple(data_dict.values())
                try:
                    cursor.execute(f"INSERT INTO {table_name} ({columns}) VALUES \
                                ({placeholders})", values)
                    self.conn.commit()
                    return True
                except Exception as e:
                    # For table constraints and other value errors
                    print(f"Error inserting data into {table_name}: {e}")
                    return False
        except Error as e:
            print(e)
            
        return False

    def update_data(self, table_name, data_dict):
        '''
        Updates data in the database.

        Args:
            table_name (str): The name of the table.
            data_dict (dict): The new data to update.

        Returns:
            Boolean: True if the data was updated successfully, False otherwise.
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()

                # Check if all columns in data_dict are valid columns in the table
                valid_columns = self.get_table_columns(table_name)
                invalid_columns = [column for column in data_dict.keys() if column not in valid_columns]
                if invalid_columns:
                    print(f"Invalid columns: {', '.join(invalid_columns)}")
                    return False

                # Create a string of placeholders for the values to update
                # in order to prevent SQL injection attacks
                placeholders = ', '.join([f"{column} = ?" for column in data_dict.keys()])
                values = tuple(data_dict.values())
                try:
                    cursor.execute(f"UPDATE {table_name} SET {placeholders}", values)
                    self.conn.commit()
                    return True
                except Exception as e:
                    print(f"Error updating data in {table_name}: {e}")
                    return False
        except Error as e:
            print(e)
        
        return False
        
    def __get_primary_key_columns(self, table_name):
        '''
        Retrieves the primary key column(s) of a table.

        Args:
            table_name (str): The name of the table.

        Returns:
            list: A list of primary key column(s).
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = self.conn.cursor()
                cursor.execute(f"PRAGMA table_info({table_name})")
                table_info = cursor.fetchall()

                # table_info structure in sqlite looks like:
                # (column_id, column_name, data_type, not_null, default_value, is_primary_key)

                # is_primary_key is 1 for all the columns in the composite primary key
                primary_key_columns = [column[1] for column in table_info if column[5] == 1]

                return primary_key_columns
        except Error as e:
            print(e)
        
        return None
            
    def __get_deletion_columns(self, table_name, deletion_dict):
        '''
        Retrieves the columns to use as the deletion key(s) from the deletion_dict.
        '''
        table_prim_key_columns = self.__get_primary_key_columns(table_name)
        if not table_prim_key_columns:
            # IMPORTANT NOTE: Ideally, we should not allow deletion without a primary key
            # But allowing it for now
            deleteion_columns = list(deletion_dict.keys())
        else:
            # check if the deletion key(s) are keys of the table - primary or composite etc.
            # If passed multiple columns; Filter out only the columns that form the 
            # primary key
            deleteion_columns = []
            for column in deletion_dict.keys():
                if column not in table_prim_key_columns:
                    print(f'Column {column} is not a primary key column.' \
                        'Cannot delete with this key.')
                    return False, None
                else: 
                    deleteion_columns.append(column)

            # ensure all columns that form the primary key are passed in the deletion_dict
            # to prevent accidental deletion of multiple rows in case of composite primary key
            if len(deleteion_columns) != len(table_prim_key_columns):
                print(f"Not all primary key columns are not passed in the deletion_dict.")
                print("Key deleteion_columns: ", deleteion_columns)
                print("table_prim_key_columns: ", table_prim_key_columns)
                return False, None

        return deleteion_columns
        
    def delete_data(self, table_name, deletion_dict, return_deleted_data=False):
        '''
            Deletes data from the database based on the provided key-value 
            pairs in the deletion_dict.

        Args:
            table_name (str): The name of the table.
            deletion_dict (dict): A dictionary containing the key-value pairs 
                        to use as the deletion key-value pairs.
            return_deleted_data (bool, optional): Whether to return the deleted 
                    data. Defaults to False.

        Returns:
            tuple: A tuple containing a boolean flag indicating the success of 
                    the operation and the deleted data 
                    (if return_deleted_data is True).
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = conn.cursor()

                # Check if deletion_key_name is a valid column in the table
                valid_columns = self.get_table_columns(table_name)
                for column in deletion_dict.keys():
                    if column not in valid_columns:
                        print(f"Invalid column: {column}")
                        return False, None

                deleteion_columns = self.__get_deletion_columns(table_name, deletion_dict)

                # Create a string of placeholders for the WHERE clause
                placeholders = ' AND '.join([f"{column} = ?" for column in deleteion_columns])
                values = tuple(deletion_dict.values())

                # Check if the column can be deleted based on table constraints
                # Add your own logic here to check the constraints
                try:
                    # Select the data to be returned before deletion
                    if return_deleted_data:
                        cursor.execute(f"SELECT * FROM {table_name} WHERE \
                                       {placeholders}", values)
                        deleted_data = cursor.fetchall()
                    else:
                        deleted_data = None

                    # Delete the data based on the deletion key
                    cursor.execute(f"DELETE FROM {table_name} WHERE  {placeholders}", \
                                   values)
                    self.conn.commit()

                    return True, deleted_data
                except Exception as e:
                    print(f"Error deleting data from {table_name}: {e}")
                    return False, None
        except Error as e:
            print(e)

    def read_data(self, table_name, key_val_dict):
        '''
        Reads data from the database based on the provided key-value pairs.
        Can handle multiple key-value pairs.

        Args:
            table_name (str): The name of the table.
            key_val_dict (dict): A dictionary containing the key-value pairs 
                    to use for reading the data.

        Returns:
            list: A list of rows from the specified table.
        '''
        try:
            with sqlite3.connect(self.db_name) as conn:
                cursor = self.conn.cursor()

                # Create a string of placeholders for the WHERE clause
                placeholders = ' AND '.join([f"{column} = ?" for column in \
                                             key_val_dict.keys()])
                values = tuple(key_val_dict.values())

                try:
                    cursor.execute(f"SELECT * FROM {table_name} WHERE {placeholders}", \
                                   values)
                    result = cursor.fetchall()
                    return result
                except Exception as e:
                    print(f"Error reading data from {table_name}: {e}")
                    return [] 
        except Error as e:
            print(e)
        
        return None

In [42]:
dml_man = DatabaseDMLManager(config['data_db_name'])

In [ ]:
table_names = dml_man.get_table_names()
table_names

In [ ]:
for tname in table_names:
    cols = dml_man.get_table_columns(tname)
    print("Table: ", tname)
    print("Columns: ", cols)
    print("-"*10)

In [ ]:
for tname in table_names:
    cols = dml_man.get_table_number_of_rows(tname)
    print("Table: ", tname)
    print("# Rows: ", cols)
    print("-"*10)

In [ ]:

for tname in ['business']:
    cols = dml_man.fetch_column_from_table(tname, 'name', sample_size=10)
    print("Table: ", tname)
    print("# Rows: ", cols)
    print("-"*10)

In [ ]:
table_data = dml_man.read_db_table('business', sample_size=2, verbose=False)
table_data

#

## How many distinct cities do we have in the dataset?

In [ ]:
query_str = '''select count(distinct(city)) as 'Cities Count' from business limit 10'''
result = dml_man.execute_query(query_str)

# print("Number of distinct cities : ", result[0][0])

res_df = pd.DataFrame(result[1:], columns=result[0])
res_df

## Show top 10 cities ranked by number of businesses listed.

In [ ]:
sample_size = 10
query_str = f'''select city as City, count(*) as 'Number_of_Businesses'
                from business 
                group by city
                order by Number_of_Businesses desc
                limit {sample_size}
                '''
result = dml_man.execute_query(query_str)

# i = 0
# for i, row in enumerate(result):
#     print(row)
#     if i == sample_size:
#         break
res_df = pd.DataFrame(result[1:], columns=result[0])
res_df

## Show top 10 cities ranked by number of businesses - that are restaurants - listed.
## Also show distribution in the percentage terms

In [ ]:
sample_size = 10 # int or None
query_str = f'''
                with cte AS (
                    select subq.city, count(*) as Number_of_Restaurants
                    from (select * from business
                            where lower(categories) like '%restaurant%'
                            ) as subq
                    group by subq.city
                    order by Number_of_Restaurants desc
                    )
                select city as City, Number_of_Restaurants, 
                    round((100*Number_of_Restaurants / 
                        (select SUM(Number_of_Restaurants) from cte)), 2)
                            as Percentage_of_Total
                from cte
                order by Percentage_of_Total desc
                limit {sample_size}
                ''' 

result = dml_man.execute_query(query_str)
# if result and sample_size:
res_df = pd.DataFrame(result[1:], columns=result[0])
res_df

#     i = 0
#     for i, row in enumerate(result):
#         print(row)
#         if i == sample_size:
#             break

### Get the ids and names of the top 10 users who have written most number of tips in the year 2015.

In [ ]:
# sample_size = 10 # int or None
# query_str = f'''
#                 select t.user_id, u.name, count(*) as number_of_tips
#                 from tip as t  left join user as u
#                 on t.user_id
#                 group by t.user_id
#                 order by number_of_tips desc
#                 limit {sample_size}
#                 ''' 


# result = dml_man.execute_query(query_str)
# res_df = pd.DataFrame(result[1:], columns=result[0])
# res_df

## Find the top 10 businesses with the highest number of reviews, along with their categories

In [ ]:
sample_size = 10 # int or None
query_str = f"""
            SELECT b.business_id, b.name, b.review_count, b.categories
            FROM business b
            JOIN (
                SELECT business_id, MAX(review_count) AS max_review_count
                FROM business
                GROUP BY business_id
                ORDER BY max_review_count DESC
                LIMIT {sample_size}
            ) AS top_businesses
            ON b.business_id = top_businesses.business_id
            ORDER BY b.review_count DESC
            """

result = dml_man.execute_query(query_str)
res_df = pd.DataFrame(result[1:], columns=result[0])
res_df

## Find the average number of stars received by businesses in each state; 
## Rank the states by average star rating. We are only interested in top 5 states.

In [ ]:

sample_size = 5 # int or None
query_str = f"""
            SELECT state, round(AVG(stars), 2) AS avg_stars
            FROM business
            GROUP BY state
            ORDER BY avg_stars DESC
            limit {sample_size};
            """

result = dml_man.execute_query(query_str)
res_df = pd.DataFrame(result[1:], columns=result[0])
res_df

In [43]:

sample_size = 5 # int or None
query_str = f"""
            SELECT 
                AVG(u.compliment_hot) / total_compliments AS avg_hot_compliment,
                AVG(u.compliment_more) / total_compliments AS avg_more_compliment,
                AVG(u.compliment_profile) / total_compliments AS avg_profile_compliment,
                AVG(u.compliment_cute) / total_compliments AS avg_cute_compliment,
                AVG(u.compliment_list) / total_compliments AS avg_list_compliment,
                AVG(u.compliment_note) / total_compliments AS avg_note_compliment,
                AVG(u.compliment_plain) / total_compliments AS avg_plain_compliment,
                AVG(u.compliment_cool) / total_compliments AS avg_cool_compliment,
                AVG(u.compliment_funny) / total_compliments AS avg_funny_compliment,
                AVG(u.compliment_writer) / total_compliments AS avg_writer_compliment,
                AVG(u.compliment_photos) / total_compliments AS avg_photos_compliment
            FROM user u
            JOIN review r ON u.user_id = r.user_id
            JOIN business b ON r.business_id = b.business_id
            CROSS JOIN (
                SELECT 
                    SUM(u.compliment_hot + u.compliment_more + u.compliment_profile + u.compliment_cute + 
                        u.compliment_list + u.compliment_note + u.compliment_plain + u.compliment_cool + 
                        u.compliment_funny + u.compliment_writer + u.compliment_photos) AS total_compliments
                FROM user u
                JOIN review r ON u.user_id = r.user_id
                JOIN business b ON r.business_id = b.business_id
                WHERE LOWER(b.categories) LIKE '%restaurant%'
            ) AS total
            WHERE LOWER(b.categories) LIKE '%restaurant%';
        
            """

result = dml_man.execute_query(query_str)
res_df = pd.DataFrame(result[1:], columns=result[0])
res_df

,avg_hot_compliment,avg_more_compliment,avg_profile_compliment,avg_cute_compliment,avg_list_compliment,avg_note_compliment,avg_plain_compliment,avg_cool_compliment,avg_funny_compliment,avg_writer_compliment,avg_photos_compliment
0,2.147250e-08,3.044339e-09,1.939235e-09,1.256848e-09,8.392009e-10,2.039360e-08,5.542669e-08,3.845886e-08,3.845886e-08,1.421344e-08,1.615111e-08